#b{
 background-image:linear-gradient(#000 80%,#800,#000,#800);
 overflow:hidden}
div,img{
 position:absolute}
#区,#币,#币>*,img{
 height:500px;
 width:500px}
#区{
 height:200px;
 left:600px;
 width:200px}
#币{
 animation:watch 10s infinite;
 transform-style:preserve-3D;
 transform:rotateY(0deg)}
img{
 border-radius:60%}
label{
 color:#FFF;
 font-size:3em}
@keyframes watch{
 to{transform:rotateY(1440deg)}}